name: GitHub Actions Demo
on: [push]
jobs:
  get_repo_config:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579 # v2.3.3
      - run: python3 -m pip install requests
      - id: decision
        run: python3 decision.py
      - name: Hello world action step
        id: hello
        uses: ./.github/actions/hello-world
        with:
          who-to-greet: 'Mona the Octocat'
      - name: Get the output time
        run: echo "The time was ${{ steps.hello.outputs.time }}"

    outputs:
      docker_images: ${{ steps.decision.outputs.docker_images }}   # Format: [{"image_name", "image_tag"}]
      applications: ${{ steps.decision.outputs.applications }}   # Format: [{"app_name", "image_tag"}]

  build_docker_images:
    needs: get_repo_config
    runs-on: ubuntu-20.04
    container:
      # We need the debug container in order to shell in other commands
      image: gcr.io/kaniko-project/executor:debug

    # Hack gotten from https://github.community/t/getting-object-length/17802/5
    if: ${{ fromJSON(needs.get_repo_config.outputs.docker_images)[0] != null }}
    strategy:
      matrix:
        # Original idea at: https://tomasvotruba.com/blog/2020/11/16/how-to-make-dynamic-matrix-in-github-actions/
        docker_image: ${{ fromJSON(needs.get_repo_config.outputs.docker_images) }}
    steps:
      - uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579 #v1.1.0
      - name: Create dockerconfig
        run: printf $FORMAT ${{ secrets.DOCKERHUB_CREDENTIALS_BASE64 }} > /kaniko/.docker/config.json
        env:
          FORMAT: '{"auths":{"https://index.docker.io/v1/":{"auth":"%s"}}}'

      # We may want to sue the docker's Github Action, instead https://github.com/docker/build-push-action
      - name: Build and push ${{ matrix.docker_image.image_tag }}
        # We use --force because kaniko believes it's not running inside a container. That might because we're using
        # the debug image?
        run: /kaniko/executor
          --force
          --dockerfile $GITHUB_WORKSPACE/docker/${{ matrix.docker_image.image_name }}/Dockerfile
          --destination=johanlorenzo/test-github-action:${{ matrix.docker_image.image_tag }}

  build:
    needs:
      - get_repo_config
      - build_docker_images
    runs-on: ubuntu-20.04

    if: ${{ !failure() }}   # We allow build_docker_images to be skipped, for instance
    strategy:
      matrix:
        applications: ${{ fromJSON(needs.get_repo_config.outputs.applications) }}

    container:
      image: johanlorenzo/test-github-action:${{ matrix.applications.image_tag }}
    steps:
      - run: python -c 'print("hello world")'
